@font-face {
  font-family: "iconfont"; /* Project id 2394260 */
  src: url('iconfont.woff2?t=1630918385694') format('woff2'),
       url('iconfont.woff?t=1630918385694') format('woff'),
       url('iconfont.ttf?t=1630918385694') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconkaishi1:before {
  content: "\e604";
}

.iconzanting1:before {
  content: "\e605";
}

.icondakai:before {
  content: "\e606";
}

.iconzhongshi:before {
  content: "\e607";
}

.iconxiazaichenggong:before {
  content: "\e608";
}

.iconxiazaishibai:before {
  content: "\e609";
}

.iconxiazaizhongzhuangtai:before {
  content: "\e60a";
}

.iconwenjianjia:before {
  content: "\e60b";
}

.iconshanchu:before {
  content: "\e60c";
}

.iconwenjiangeshi-1:before {
  content: "\e60e";
}

.iconwenjiangeshi-2:before {
  content: "\e60f";
}

.iconwenjiangeshi-3:before {
  content: "\e610";
}

.iconwenjiangeshi-4:before {
  content: "\e612";
}

.iconwenjiangeshi-5:before {
  content: "\e648";
}

.iconwenjiangeshi-6:before {
  content: "\e649";
}

.iconwenjiangeshi-7:before {
  content: "\e64b";
}

.iconduanwangzhuangtai:before {
  content: "\e665";
}

.iconxiazaiguanli:before {
  content: "\e666";
}

.iconxinhao:before {
  content: "\e667";
}

.iconeye-open:before {
  content: "\e6ea";
}

.iconapplication-fill:before {
  content: "\e6a6";
}

.iconaddress-book-detail:before {
  content: "\e6a7";
}

.iconflag:before {
  content: "\e722";
}

.iconinfo-circle-fill:before {
  content: "\e73f";
}

.iconmaintain:before {
  content: "\e762";
}

.iconplus-circle:before {
  content: "\e782";
}

.icontable-filter-fill:before {
  content: "\e7cb";
}

.iconclose-circle-fill:before {
  content: "\e6ce";
}

.iconleft-arrow:before {
  content: "\e746";
}

.iconcheck-circle-fill:before {
  content: "\e781";
}

.iconsafety-certificate:before {
  content: "\e7a7";
}

.iconuser:before {
  content: "\e7ea";
}

.iconeye-close:before {
  content: "\e80a";
}

.iconwarn-circle-fill:before {
  content: "\e7ed";
}

.iconrevivification:before {
  content: "\e6e5";
}

.iconup:before {
  content: "\e6e3";
}

.iconcommand:before {
  content: "\e6e2";
}

.iconparam-setting:before {
  content: "\e77c";
}

.iconnodate:before {
  content: "\e6e4";
}

.iconlock:before {
  content: "\e758";
}

.iconroutine:before {
  content: "\e6f9";
}

.icondown-mini:before {
  content: "\e701";
}

.iconlink:before {
  content: "\e757";
}

.iconfixed:before {
  content: "\e6f6";
}

.icontime-fill:before {
  content: "\e7d2";
}

.iconemoji-pleased-fill:before {
  content: "\e714";
}

.iconsearch:before {
  content: "\e7b1";
}

.iconclose-mini:before {
  content: "\e80b";
}

.iconmaximize:before {
  content: "\e6f5";
}

.iconclose:before {
  content: "\e6d4";
}

.iconminus:before {
  content: "\e766";
}

.iconshrink:before {
  content: "\e6f4";
}

.iconmenu:before {
  content: "\e75f";
}

.iconsetting:before {
  content: "\e7b4";
}

.iconskin:before {
  content: "\e7b7";
}

.iconstar-fill:before {
  content: "\e7bd";
}

.iconstar:before {
  content: "\e7bf";
}

